extends layout

block content 
  div(class="container-fluid")
    h1= title
    p Welcome to #{title}
    div(class="alert alert-primary" role="alert")
      A simple primary alert—check it out!
    
